.App {
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.margin8{
  display: flex;
  margin: 8px;
}
.displayFlex{
  display: flex;
}
.alignCenter{
  align-items: center;
}
.marginAuto{
  margin:auto;
}
.width100{
  width:100%;
}


tbody tr:hover {
  background-color: yellow;
  cursor : pointer
}

.MuiAccordionSummary-root{
  background: lightblue;
}